<table class="table table-bordered" id="search_items">
    <thead>
        <tr>
            <th class="text-center">SL No</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Sub Sub Category</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% if obj_list %}
        {% for obj in obj_list %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{obj.sub_categories.categories}}</td>
            <td>{{obj.sub_categories}}</td>
            <td>{{obj.sub_sub_cat_name}}</td>
            <td>
                <a href="{% url 'update_sub_sub_categories_url' obj.id %}" class="edit_btn" title="Edit">
                    <i class="fas fa-edit"></i>
                </a>

                <a href="{% url 'delete_sub_sub_categories_url' obj.id %}" class="delete_btn" title="Delete" 
                    onclick="SweetDelete(event, this.href)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5" class="text-center">Data is not found</td>
        </tr>
        {% endif %}
    </tbody>
</table>