{% extends "admin_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Courier Info{% endblock  %}
{% block content %}
<div class="row mb-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="fw-bold">SteadFast Courier Info</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            {{ form.api_key|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.secret_key|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.base_url|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>

                    <div class="text-center pt-1 pb-2">
                        <button type="submit" name="form_type" value="steadfast" class="btn btn-sm add-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="fw-bold">RedX Courier Info</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            {{ redx_form.api_key|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ redx_form.base_url|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ redx_form.pickup_store_id|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ redx_form.pickup_phone|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ redx_form.status|as_crispy_field }}
                        </div>
                    </div>

                    <div class="text-center pt-1 pb-2">
                        <button type="submit" name="form_type" value="redx" class="btn btn-sm add-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="fw-bold">Pathao Courier Info</h5>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            {{ pathao_form.api_key|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ pathao_form.secret_key|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ pathao_form.base_url|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ pathao_form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ pathao_form.password|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ pathao_form.store_id|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ pathao_form.city_id|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ pathao_form.zone_id|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ pathao_form.area_id|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ pathao_form.status|as_crispy_field }}
                        </div>
                    </div>

                    <div class="text-center pt-1 pb-2">
                        <button type="submit" name="form_type" value="pathao" class="btn btn-sm add-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
