{% extends "admin_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Update Payment Method Logo{% endblock  %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="fw-bold">Update Payment Method Logo</h5>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    {{ form.logo|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {% comment %} <button class="btn add-btn">Update</button> {% endcomment %}
                    <button type="button" onclick="showDemoCheckoutModal()" class="btn add-btn">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
