{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Readyecommerce</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Responsive Website Design, landing page, Portfolio, Business, E-commerce">
    <meta name="description" content="Responsive Website Design & Development">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rebots" content="index, archive">
    <link rel="canonical" href="https://www.example.com">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--favicon icon-->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- CSS style links-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>


    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel"><i class="bi bi-bag-dash-fill"></i> My Cart
                <span>(2 items)</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cartlist">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                        <span>Samsung</span>
                        <h4>Mutton Meat</h4>
                        <p>$8.20
                            <del>$9.20</del>
                            <span class="badge text-bg-danger"> 10.87% OFF</span>
                        </p>
                        <div class="number">
                            <span class="minus">-</span>
                            <input type="text" value="1" />
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartlist">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                        <span>Samsung</span>
                        <h4>Mutton Meat</h4>
                        <p>$8.20
                            <del>$9.20</del>
                            <span class="badge text-bg-danger"> 10.87% OFF</span>
                        </p>
                        <div class="number">
                            <span class="minus">-</span>
                            <input type="text" value="1" />
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartlist">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                        <span>Samsung</span>
                        <h4>Mutton Meat</h4>
                        <p>$8.20
                            <del>$9.20</del>
                            <span class="badge text-bg-danger"> 10.87% OFF</span>
                        </p>
                        <div class="number">
                            <span class="minus">-</span>
                            <input type="text" value="1" />
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartlist">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                        <span>Samsung</span>
                        <h4>Mutton Meat</h4>
                        <p>$8.20
                            <del>$9.20</del>
                            <span class="badge text-bg-danger"> 10.87% OFF</span>
                        </p>
                        <div class="number">
                            <span class="minus">-</span>
                            <input type="text" value="1" />
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="checkoutbtn">
            <div class="amout">
                <h4>Cart Amount</h4>
                <h2>$0.00</h2>
            </div>
            <a href="checkout.html" class="cusbtn2">Checkout</a>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="logins" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        <h5>Please login to your account</h5>
                        <form action="">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                                <a href="#" class="forgot">Forgot Password?</a>
                            </div>
                            <button type="submit" class="cusbtn2">Login</button>
                            <p>Don’t have an account? <a href="#">Sign Up</a> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- top-heading -->
    <section class="top-heading fixtop">
        <div class="containers">
            <div class="row">
                <div class="col-md-6">
                    <div class="helpline">
                        <p><a href="#">Become a Seller</a> | Hotline: 01711257498</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="language">
                        <select class="form-select form-select-sm" aria-label="Small select example">
                            <option selected>USD, $</option>
                            <option value="1">Tk ৳</option>
                        </select>

                        <select class="form-select form-select-sm" aria-label="Small select example">
                            <option selected>English</option>
                            <option value="2">Bnagla</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top-heading -->


    <!-- header -->
    <header class="header-area fixheader">
        <div class="containers">
            <div class="row">
                <div class="col-12">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-xl">
                            <div class="container-fluid p-0">
                                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <div class="input-group search-bar">
                                        <input type="text" class="form-control" placeholder="Search product" aria-label="Search product" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
                                    </div>
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                        <li class="nav-item">
                                            <button type="button" class=" position-relative">
                                                <i class="bi bi-heart"></i>
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    99
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class=" position-relative" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">  
                                                <i class="bi bi-bag-dash"></i>
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    9
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logins">Login <i class="bi bi-person"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="submenus mobile-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="digital-products.html">Digital Products</a></li>
                                        <li><a href="shops.html">Shops</a></li>
                                        <li><a href="most-popular.html">Most Popular</a></li>
                                        <li><a href="best-deal.html">Best Deal</a></li>
                                        <li><a href="contact.html"> Contact</a></li>
                                        <li><a href="blog.html"> Blogs</a></li>
                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->





    <!-- main-contents -->
    <main class="main-contents">
        <!-- customer-dashboard -->
        <section class="customer-dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="customersdash">
                        <!-- customermenu -->
                        <div class="customermenu">
                            <div class="customer-profile">
                                <img src="{% static 'assets/img/profile.jpg' %}" alt="User">
                                <h4>Demo Customer</h4>
                                <p>01000000405</p>
                            </div>
                            <nav class="menu">
                                <ul>
                                    <li><a href="dashboard.html"><i class="bi bi-grid-fill"></i> Dashboard</a></li>
                                    <li><a href="orders.html"><i class="bi bi-bag-check"></i> Order History</a></li>
                                    <li><a href="#"><i class="bi bi-recycle"></i> Return Orders</a></li>
                                    <li><a href="#"><i class="bi bi-heart"></i> Wishlist</a></li>
                                    <li><a href="#"><i class="bi bi-chat-left-dots"></i> Message</a></li>
                                    <li><a href="#"><i class="bi bi-person"></i> My Profile</a></li>
                                    <li><a href="#"><i class="bi bi-geo-alt"></i> Manage Address</a></li>
                                    <li><a href="#"><i class="bi bi-ticket-perforated"></i> Support Ticket</a></li>
                                    <li><a href="#"><i class="bi bi-key"></i> Change Password</a></li>
                                    <li><a href="#"><i class="bi bi-list-ol"></i> Terms & Conditions</a></li>
                                    <li><a href="#"><i class="bi bi-shield-check"></i> Privacy Policy</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- customermenu -->

                        <!-- customerdashcontents -->
                        <div class="customerdashcontents">
                            <div class="customer-header">
                                <h2>Dashboard</h2>
                            </div>

                            <!-- customer-container -->
                            <div class="customer-container">
                                <div class="row">
                                    <div class="col-xl-8">
                                        <!-- dashboard-count -->
                                        <div class="dashboard-count">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="count-box">
                                                        <h3>83 <span> <img src="assets/img/truck-time.svg" alt="truck-time"></span></h3>
                                                        <p>On Going Order</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="count-box">
                                                        <h3>0 <span> <i class="bi bi-minecart"></i></span></h3>
                                                        <p>Products in Cart</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="count-box">
                                                        <h3>11 <span> <i class="bi bi-heart"></i></span></h3>
                                                        <p>Products in Wishlist</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="count-box">
                                                        <h3>94 <span> <img src="assets/img/box-tick.svg" alt="box-tick"></span></h3>
                                                        <p>Products Ordered</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- dashboard-count -->

                                        <!-- my cart -->
                                        <div class="mycart">
                                            <div class="offcanvas-header p-2">
                                                <h5 class="offcanvas-title" id="staticBackdropLabel"><i class="bi bi-bag-dash-fill"></i> My Cart
                                                    <span>(2 items)</span>
                                                </h5>
                                            </div>
                                            <div class="offcanvas-body">
                                                <div class="cartlist">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                                                            <span>Samsung</span>
                                                            <h4>Mutton Meat</h4>
                                                            <p>$8.20
                                                                <del>$9.20</del>
                                                                <span class="badge text-bg-danger"> 10.87% OFF</span>
                                                            </p>
                                                            <div class="number">
                                                                <span class="minus">-</span>
                                                                <input type="text" value="1" />
                                                                <span class="plus">+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cartlist">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                                                            <span>Samsung</span>
                                                            <h4>Mutton Meat</h4>
                                                            <p>$8.20
                                                                <del>$9.20</del>
                                                                <span class="badge text-bg-danger"> 10.87% OFF</span>
                                                            </p>
                                                            <div class="number">
                                                                <span class="minus">-</span>
                                                                <input type="text" value="1" />
                                                                <span class="plus">+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cartlist">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                                                            <span>Samsung</span>
                                                            <h4>Mutton Meat</h4>
                                                            <p>$8.20
                                                                <del>$9.20</del>
                                                                <span class="badge text-bg-danger"> 10.87% OFF</span>
                                                            </p>
                                                            <div class="number">
                                                                <span class="minus">-</span>
                                                                <input type="text" value="1" />
                                                                <span class="plus">+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cartlist">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/img/mRKF0owlNWGDDChE5DsaKAwhqL7AbT1mYDC555DL.png" alt="...">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <button class="delete"><i class="bi bi-trash3-fill"></i></button>
                                                            <span>Samsung</span>
                                                            <h4>Mutton Meat</h4>
                                                            <p>$8.20
                                                                <del>$9.20</del>
                                                                <span class="badge text-bg-danger"> 10.87% OFF</span>
                                                            </p>
                                                            <div class="number">
                                                                <span class="minus">-</span>
                                                                <input type="text" value="1" />
                                                                <span class="plus">+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="checkoutbtn">
                                                <div class="amout">
                                                    <h4>Cart Amount</h4>
                                                    <h2>$0.00</h2>
                                                </div>
                                                <a href="checkout.html" class="cusbtn2">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                        <!-- my cart -->



                                    </div>


                                    <div class="col-xl-4">
                                        <!-- customerinfo -->
                                        <div class="customerinfo">
                                            <h3 class="subtile3">Default Shipping Address</h3>

                                            <div class="adddress">
                                                <p>My Personal <span class="badge text-bg-light">home</span></p>
                                                <p>880156763524</p>
                                                <p>6B, Dhaka, Bangladesh, A-23S76</p>
                                            </div>
                                        </div>
                                        <!-- customerinfo -->
                                        <!--populers  -->
                                        <div class="populers boxs">
                                            <h3 class="subtile3">Recently Viewed</h3>
                                            <div class="customscroll">
                                                <div class="d-flex populeritem mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/img/kewsY3LGdmI37EyO8zDMgPvo2cUvctuCarnWAWKB.png" alt="icons">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3 productcon">
                                                        <a href="#">Freeman Beauty Korean Cica Soothing Clay Mask </a>
                                                        <h5>$121.00 <del>$129.00</del></h5>
                                                        <div class="starsold">
                                                            <p><i class="bi bi-star-fill"></i>10 (0)</p>
                                                            <div class="vr"></div>
                                                            <p>12 Sold</p>
                                                        </div>
                                                        <div class="buybtn">
                                                            <a href="#"> <i class="bi bi-bag-check"></i></a>
                                                            <a href="#">Buy now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex populeritem mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/img/kewsY3LGdmI37EyO8zDMgPvo2cUvctuCarnWAWKB.png" alt="icons">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3 productcon">
                                                        <a href="#">Freeman Beauty Korean Cica Soothing Clay Mask </a>
                                                        <h5>$121.00 <del>$129.00</del></h5>
                                                        <div class="starsold">
                                                            <p><i class="bi bi-star-fill"></i>10 (0)</p>
                                                            <div class="vr"></div>
                                                            <p>12 Sold</p>
                                                        </div>
                                                        <div class="buybtn">
                                                            <a href="#"> <i class="bi bi-bag-check"></i></a>
                                                            <a href="#">Buy now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex populeritem mb-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/img/kewsY3LGdmI37EyO8zDMgPvo2cUvctuCarnWAWKB.png" alt="icons">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3 productcon">
                                                        <a href="#">Freeman Beauty Korean Cica Soothing Clay Mask </a>
                                                        <h5>$121.00 <del>$129.00</del></h5>
                                                        <div class="starsold">
                                                            <p><i class="bi bi-star-fill"></i>10 (0)</p>
                                                            <div class="vr"></div>
                                                            <p>12 Sold</p>
                                                        </div>
                                                        <div class="buybtn">
                                                            <a href="#"> <i class="bi bi-bag-check"></i></a>
                                                            <a href="#">Buy now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--populers  -->
                                    </div>
                                </div>


                                <div class="copyrights">
                                    <p>© 2025 All right reserved.</p>
                                </div>
                            </div>
                            <!-- customer-container -->

                        </div>
                        <!-- customerdashcontents -->
                    </div>
                </div>
            </div>
        </section>
        <!-- customer-dashboard -->
    </main>
    <!-- main-contents -->









    <!-- Js script links-->
    <script src="assets/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/imagepreviewer.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>

</html>