{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permission Denied</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/color_theme.css' %}">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="permission-card">
            <div class="icon">
                <i class="bi bi-shield-lock-fill"></i>
            </div>

            <h1>Permission Denied</h1>
            <p>
                You do not have the required privileges to access this admin section.
                If you believe this is an error, please contact the system administrator.
            </p>

        </div>
    </div>
</body>
</html>